// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  .container{
    display: flex;
  }
  .header-title {
    @media (min-width: 544px) {
        font-size: 15px;
      }
    
      @media (min-width: 768px) {
      font-size: 25px;
      }
  
    @media (min-width: 1280px) {
      font-size: 30px;
    }
  }
.top-title{
    margin-top: 10px;
}

#top-space {
    margin-top: 70px;
}

#sec-space {
  margin-top: 70px;
}
.main-container {
    background-image: url("top.jpeg");
    opacity: 0.8;
    height: 660px;
    width:100%;
    background-size: cover;
}
.footer-text{
    text-align: right;
}

