// Place all the styles related to the spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.wrapper{
    display: flex;
    }
    map{
    margin-right: 30px;
    }
.all-space{
    border-radius: 10px;
    display: flex;
}
.one-space{
    background-color: aquamarine;
}
.right{
    width:500px
}

#map{
  height: 600px;
  width: 850px;
}
