%h4.text-center.mt-5 お気に入りスペース一覧
%table.table.ml-5
  %thead
    %tr
      %th{:scope => "col"} 物件名
      %th{:scope => "col"} 価格
      %th{:scope => "col"} 最寄駅

  %tbody
    - @likes.each do |like|
      %tr
        %td= like.space.name
        %td= like.space.price
        %td= like.space.station