.d-flex.bd-highlight.pt-3.pb-3.bg-light
  = link_to image_tag("twitter.png", class:"image_switch ml-3 mb-2 mr-3", width:"20px", height:"20px"),"https://twitter.com/share?url=#{request.url}/&text=another wayを広めよう！", title: 'Twitter', target: '_blank'
  <div class="line-it-button mt-4" data-lang="ja" data-type="share-a" data-ver="3" data-url="http://localhost:3000/spaces" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
  <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

=debug(params) if Rails.env == "development"

