/ Footer
%footer.bg-light.text-center.text-lg-start
  / Grid container
  .container.p-4
    / Grid row
    .row
      / Grid column
      .col-lg-6.col-md-12.mb-4.mb-md-0
        %h5.text-uppercase アプリ開発者の思い
        %p  現在新型コロナの影響で相次いで飲食店が倒産している。
        %p  私の地元の行きつけの飲食店も店を畳んだ。
        居酒屋の昼間の空席を見て、使われていない席をコワーキングスペースとして貸し出すことができれば追加投資なしで事業を継続できると考えたためこのアプリを作成した。
      
      
      .col-lg-3.col-md-6.mb-4.mb-md-0
        %h5.text-uppercase サービスについて
        %ul.list-unstyled.mb-0
          %li
            %a.text-dark{:href => "/feedbacks/new"} ご意見はこちらから
          %li
            %a.text-dark{:href => "https://twitter.com/share?url=#{request.url}/&text=another wayを広めよう！", title: 'Twitter', target: '_blank'} Twitterで共有
          %li.mt-1
            <div class="line-it-button mt-4 ml-4" data-lang="ja" data-type="share-a" data-ver="3" data-url="https://anotherway.herokuapp.com/" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
  

      .col-lg-3.col-md-6.mb-4.mb-md-0
        %h5.text-uppercase 開発者について
        %ul.list-unstyled.mb-0
          %li
            %a.text-dark{:href => "https://github.com/taichi9024/another-way"} ポートフォリオレポジトリ
          %li
            %a.text-dark{:href => "https://taichi9024.github.io"} ブログ
          %li
            %a.text-dark{:href => "https://github.com/taichi9024"} github

  .text-center.p-3.text-primary
    © 2021 taichi9024
  <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

