- content_for(:title, "ホーム")

.main-container
  %div.text-center.pt-5
    %h1.text-white another way

    %h4= link_to '物件一覧を見る', spaces_path, class: "text-center text-white pt-4"

  #top-space.container
    .row
      .col-sm
        =link_to "目黒駅周辺の物件", "http://localhost:3000/spaces?q%5Bcity_cont%5D=%E7%9B%AE%E9%BB%92&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B",class: "text-primary"
      .col-sm
        =link_to "渋谷駅区周辺の物件", "http://localhost:3000/spaces?q%5Bcity_cont%5D=%E7%9B%AE%E9%BB%92&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B",class: "text-primary"
      .col-sm
        =link_to "新宿駅周辺の物件", "http://localhost:3000/spaces?q%5Bcity_cont%5D=%E6%96%B0%E5%AE%BF&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B",class: "text-primary"
      .col-sm
        =link_to "池袋駅周辺の物件", "http://localhost:3000/spaces?q%5Bcity_cont%5D=%E7%9B%AE%E9%BB%92&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B",class: "text-primary"
      .col-sm
        =link_to "東京駅周辺の物件", "http://localhost:3000/spaces?q%5Bcity_cont%5D=%E7%9B%AE%E9%BB%92&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B",class: "text-primary"
      .col-sm
        =link_to "新橋駅周辺の物件", "http://localhost:3000/spaces?q%5Bcity_cont%5D=%E7%9B%AE%E9%BB%92&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B",class: "text-primary"

