- content_for(:title, "ホーム")

.main-container
  %div.text-center.pt-4
    %h1.text-primary.top-title another way
    
    #sec-space.text-intro.text-center
      %h4= link_to '物件一覧を見る', spaces_path
      %h7.mt-5.text-white 飲食店で仕事スペースがすぐに見つかる

  #top-space.container
    .mx-auto.mt-2{:style => "width: 200px"}
      .mx-auto.mb-2
        =link_to "目黒駅周辺の物件", "https://anotherway.heroku.com/spaces?q%5Bcity_cont%5D=%E7%9B%AE%E9%BB%92&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B",class: "btn btn-primary"
      .mx-auto.mb-2
        =link_to "渋谷駅周辺の物件", "https://anotherway.herokuapp.com/spaces?q%5Bcity_cont%5D=%E7%9B%AE%E9%BB%92&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B",class: "btn btn-primary"
      .mx-auto.mb-2
        =link_to "新宿駅周辺の物件", "https://anotherway.herokuapp.com/spaces?q%5Bcity_cont%5D=%E6%96%B0%E5%AE%BF&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B",class: "btn btn-primary"
      .mx-auto.mb-2
        =link_to "池袋駅周辺の物件", "https://anotherway.herokuapp.com/spaces?q%5Bcity_cont%5D=%E7%9B%AE%E9%BB%92&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B",class: "btn btn-primary"
      .mx-auto.mb-2
        =link_to "東京駅周辺の物件", "https://anotherway.herokuapp.com/spaces?q%5Bcity_cont%5D=%E7%9B%AE%E9%BB%92&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B",class: "btn btn-primary"
