- content_for(:title, "ホーム")

%div.text-center
  %h1 top title

  %h4= link_to '検索する', spaces_path, class: "text-center pt-4"

%div
  =link_to "目黒区周辺の物件", "http://localhost:3000/spaces?q%5Bcity_cont%5D=%E7%9B%AE%E9%BB%92&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B"