%table.table.user-table
  %thead.thead-dark
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} name
  %tbody
    %tr
      %th{:scope => "row"} id
      %td=@user.id
    %tr
      %th{:scope => "row"} name
      %td=@user.name

    %tr
      %th{:scope => "row"} created_at
      %td=@user.created_at

= link_to "アプリの評価をする",  new_feedback_path, class:"btn btn-success"
